<h1> Portfolio | <%= @user.performance %></h1>

<h3>Account Balance: $<%= @user.balance %></h3>
<h3>Total Live Investments: $<%= @user.investment_value.round(2) %></h3>
<h3>Total Crypto Owned:
    <ul> 
        <% @user.crypto_total.each do |k, v| %>
            <% if v != 0 %>
                <li><%=  link_to "#{k} - #{v}", Crypto.find_by(name: k)%></li>
            <% end %>
        <% end %>
    </ul>
</h3>



<h2>Buys</h2>
<ul>
<% @user.buys.each do |exchange| %>
    <li> <%= "#{exchange.created_at.to_date} - #{exchange.units} #{exchange.crypto.name} @ #{exchange.market_price}" %> </li>
<% end %>
</ul>

<h2>Sells</h2>
<ul>
<% @user.sells.each do |exchange| %>
    <li> <%= link_to "#{exchange.created_at.to_date} - #{exchange.units} #{exchange.crypto.name} @ #{exchange.market_price}", exchange %> </li>
<% end %>
</ul>
