<h1> <%= @user.name %> | Portfolio </h1>

<h2>Total Live Investments: <%= @user.investment_total %></h2>
<h2>Total Crypto Owned: <%= @user.crypto_owned_total %></h2>


<h2>Buys</h2>
<ul>
<% @user.buys.each do |exchange| %>
    <li> <%= link_to "#{exchange.created_at.to_date} - #{exchange.units} #{exchange.crypto.name} @ #{exchange.market_price}", exchange %> </li>
<% end %>
</ul>

<h2>Sells</h2>
<ul>
<% @user.sells.each do |exchange| %>
    <li> <%= link_to "#{exchange.created_at.to_date} - #{exchange.units} #{exchange.crypto.name} @ #{exchange.market_price}", exchange %> </li>
<% end %>
</ul>