<h1> <%= @user.username %>'s | Profile </h1>


<p><img src=<%= @user.photo_url %> alt='User's profile picture' height=100px></p>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Bio:<%= @user.bio %></li>
</ul>

<%= button_to "Delete Account", @user, method: :delete %>
