<h1><%= @crypto.name %> (<%= @crypto.symbol %>): $<%= @crypto.spot_price %> USD</h1>
<h6> Last Updated: <%=  @crypto.updated_at %> </h6>

<ul>
  <li>Buy Price: $<%= @crypto.buy_price %> USD</li>
  <li>Sell Price: $<%= @crypto.sell_price %> USD</li>
</ul>

<% if @logged_in_user %>
  <%= render 'exchange_form' %>
<% end  %>
