<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<% if @notification %>
  <h1> <%= @notification.each do |note| %> </h1>
    <%=  note %>
  <% end %>
<% end %>

<% if @errors && @errors.any? %>
  <h1> <%= @errors.each do |error| %> </h1>
    <%=  error %>
  <% end %>
<% end %>

<header> 
  <% if @logged_in_user %>
    <%=  @logged_in_user.username %>
    <%= form_tag logout_path, method: :delete do %>
      <%= button_tag "Log out"  %>
    <% end %>
  <% end %>
</header>

<%= yield %>
  
</body>
</html>



