<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
</head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <% if @logged_in_user %>
          <li class="right-nav">
            <%=  link_to @logged_in_user.username, @logged_in_user %>
          </li>
          <li class="right-nav">
            <%= link_to "LOGOUT", logout_path %>
          </li>

          <li><%= link_to "CRYPTOS", cryptos_path  %></li>
          <li><%= link_to "PORTFOLIO", portfolio_path(@logged_in_user) %></li>
          <li><%= link_to "EDIT PROFILE", edit_user_path(@logged_in_user) %></li>
        <% end %>
      </div>
  <% if @notification %>
    <h1> <% @notification.each do |note| %> </h1>
      <%=  note %>
    <% end %>
  <% end %>

  <% if @errors && @errors.any? %>
    <% @errors.each do |error| %>
      <%=  error %>
    <% end %>
  <% end %>


  <div class="content">
      <%= yield %>
  </div>

      </div>
  </body>
</html>
